/* ---------- MASTER OOGWAY ---------- */

body {
  margin: 0;
  background: black;
}

.restart {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 10px 20px;
  font-size: 16px;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid white;

  cursor: pointer;
  z-index: 100;
}

.restart:hover {
  background: rgba(255, 255, 255, 0.2);
}

.continue {
  position: absolute;
  bottom: 40px;
  right: 40px;

  padding: 20px 40px;
  font-size: 24px;

  background: #555;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 101;
}

.continue:hover {
  background: #777;
}

#dialogue_box {
  display: none;
  font-size: 24px;
  line-height: 1.5;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 800px;
  min-height: 120px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 12px;
  z-index: 9999;
}

#ending_text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);

  width: 60%;
  padding: 20px;

  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
  text-align: center;

  border: 1px solid white;
  z-index: 100;
}

.ending_restart {
  top: auto;
  right: auto;

  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 20px;
  padding: 15px 30px;
}

/* ---------- TITLE SCREEN ---------- */

#title-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#foreground_title {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#kaphi_title {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}

#menu {
  position: absolute;
  left: 5%;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}

.box {
  background: #555;
  color: white;
  padding: 20px;
  width: 300px;
  border: none;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.title {
  font-size: 28px;
  cursor: default;
}

/* ---------- SCENES  ---------- */

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* --- TRAIN 1 & 2 --- */

.background_train_closed,
.background_train_open {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kaphi_train_open,
.kaphi_train_closed {
  position: absolute;
  top: 0;
  height: 100%;
}

/* --- OUTSIDE --- */

#background_outside {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.zoblin_outside {
  position: absolute;
  top: 200px;
  left: 500px;
  height: 65%;
  z-index: 4;
  pointer-events: auto;
  cursor: pointer;
}

.outside_door {
  position: absolute;
  height: 19%;
  top: 38.5%;
  right: -7px;
  z-index: 2;
  cursor: pointer;
}

/* --- MAIN 1 --- */

#main1_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#main1_bal_door {
  position: absolute;
  height: 36%;
  transform: rotate(-90deg);
  top: 23%;
  left: 70%;
  z-index: 1;
  cursor: pointer;
}

#main1_lab_door {
  position: absolute;
  height: 43%;
  top: 20%;
  left: 36%;
  z-index: 2;
  cursor: pointer;
  z-index: 2;
}

#main1_roblin {
  position: absolute;
  top: 200px;
  left: 65%;
  height: 50%;
  z-index: 6;
  pointer-events: auto;
  cursor: pointer;
}

#main1_boblin {
  position: absolute;
  top: 200px;
  right: 50%;
  height: 65%;
  z-index: 6;
  pointer-events: auto;
  cursor: pointer;
}

/* --- LAB 1 --- */

#lab1_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#lab1_monitor {
  position: absolute;
  top: 44%;
  left: 37%;
  height: 16%;
  z-index: 6;
  pointer-events: auto;
  cursor: pointer;
}

#lab1_car {
  position: absolute;
  top: 70%;
  height: 15%;
  z-index: 6;
  pointer-events: auto;
  cursor: pointer;
}

#lab1_door {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: rotate(-90deg);
  height: 30%;
  z-index: 7;
  pointer-events: auto;
  cursor: pointer;
}

#lab1_coblin {
  position: absolute;
  top: 35%;
  left: 57%;
  height: 40%;
  transform: rotate(-90deg);
  z-index: 6;
  pointer-events: auto;
  cursor: pointer;
}

/* --- HOLDING 1 --- */

#holding1_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#holding1_held {
  position: absolute;
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

/* --- HOLDING 2 [INFO ENTERED] --- */

#holding2_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#holding2_held {
  position: absolute;
  z-index: 2;
  transform: rotate(-90deg);
  height: 45%;
  top: 30%;
  left: 25%;
  pointer-events: auto;
  cursor: pointer;
}

/* --- LAB 2 --- */

#lab2_car {
  position: absolute;
  top: 70%;
  height: 15%;
  left: 45%;
  z-index: 2;
  pointer-events: auto;
  cursor: pointer;
}

/* --- MAIN 2 --- */

#main2_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#main2_bal_door {
  position: absolute;
  height: 36%;
  transform: rotate(-90deg);
  top: 23%;
  left: 70%;
  z-index: 2;
  cursor: pointer;
}

#main2_oblins {
  position: absolute;
  top: 20%;
  left: 5%;
  height: 70%;
  z-index: 5;
  pointer-events: auto;
  cursor: pointer;
}


/* --- BAL 1/2 --- */

#bal_arua_bad,
#bal_arua_good {
  position: absolute;
  z-index: 2;
  transform: rotate(-90deg);
  height: 45%;
  top: 20%;
  left: 26%;
  pointer-events: auto;
  cursor: pointer;
}

/* --- END 1/2 --- */

.ends {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* --- evil below --- */

.mobile {
  display: none;
}

@media screen and (max-width: 430px) {
  /* iPhone 12 / Pixel 7 range */

  .desktop {
    display: none !important;
  }

  #dialogue_box {
    display: none;
    font-size: 18px;
    top: 70%;
    bottom: 12%;
    right: 0%;
    left: 50%;

    z-index: 9999;
  }

  .restart {
    font-size: 18px;
    padding: 12px 20px;
  }

  .continue {
    font-size: 28px;
    padding: 24px 50px;
  }

  .background_train_closed,
  .background_train_open {
    object-position: left center;
  }

  .kaphi_train_open,
  .kaphi_train_closed {
    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%) scale(0.85);

    height: 100vh;
    width: auto;

    max-width: none;
  }

  #background_outside {
    display: none;
  }

  #M_outside_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .zoblin_outside {
    position: absolute;
    height: 50%;
    top: 45%;
    left: 5%;
    z-index: 3;
    cursor: pointer;
  }

  .outside_door {
    position: absolute;
    height: 11%;
    top: 28%;
    left: 60%;
    z-index: 2;
    cursor: pointer;
  }

  #main1_background {
    display: none;
  }

  #M_main1_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #main1_lab_door {
    position: absolute;
    height: 25%;
    top: 8.5%;
    left: -26%;
    z-index: 3;
    cursor: pointer;
  }

  #main1_roblin {
    position: absolute;
    height: 30%;
    top: 8%;
    left: 30%;
    z-index: 4;
    cursor: pointer;
  }

  #main1_boblin {
    position: absolute;
    height: 40%;
    top: 50%;
    left: -50%;
    z-index: 5;
    cursor: pointer;
  }

  .zoblin_outside {
    position: absolute;
    height: 50%;
    top: 45%;
    left: 5%;
    z-index: 3;
    cursor: pointer;
  }

  #lab1_background {
    display: none;
  }

  #M_lab1_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #lab1_coblin {
    position: absolute;
    height: 30%;
    top: 57%;
    left: 20%;
    z-index: 5;
    cursor: pointer;
  }

  #lab1_door {
    position: absolute;
    height: 20%;
    top: 21%;
    left: -15%;
    z-index: 5;
    cursor: pointer;
  }

  #lab1_car {
    position: absolute;
    height: 10%;
    top: 50%;
    left: 5%;
    z-index: 7;
    cursor: pointer;
  }

  #lab1_monitor {
    position: absolute;
    height: 15%;
    top: 29%;
    left: 65%;
    z-index: 7;
    cursor: pointer;
  }

  #holding1_background,
  #holding1_held {
    display: none;
  }

  #M_holding1_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #M_holding1_held {
    position: absolute;
    height: 100%;
    right: -15%;
    z-index: 5;
    cursor: pointer;
  }

  #holding2_background,
  #holding2_held {
    display: none;
  }

  #M_holding2_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #M_holding2_held {
    position: absolute;
    height: 100%;
    right: -15%;
    z-index: 5;
    cursor: pointer;
  }

  #lab2_car {
    position: absolute;
    height: 10%;
    top: 50%;
    left: 34%;
    z-index: 7;
    cursor: pointer;
  }

  #main2_background,
  #main2_oblins {
    display: none;
  }

  #M_main2_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #M_main2_oblins {
    position: absolute;
    height: 89%;
    top: 5%;
    left: -5%;
    z-index: 3;
    cursor: pointer;
  }

  #main2_bal_door {
    position: absolute;
    height: 20%;
    top: 10.7%;
    left: 48%;
    z-index: 7;
    cursor: pointer;
  }

  #bal1_background {
    display: none;
  }

  #M_bal_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  #bal_arua_bad,
  #bal_arua_good {
    position: absolute;
    height: 30%;
    top: 20%;
    left: -5%;
    z-index: 7;
    cursor: pointer;
  }

  #end_bad,
  #end_good {
    display: none;
  }

  #M_end1,
  #M_end2 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }


}