body {
  margin: 0;
  background: black;
}

#scene-one,
#scene-one2 {
  display: none;
}

/** TITLE SCREEN STUFF **/

#title-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#foreground_title {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#kaphi_title {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}

#menu {
  position: absolute;
  left: 5%;
  top: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}

.box {
  background: #555;
  color: white;
  padding: 20px;
  width: 300px;
  border: none;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}

.title {
  font-size: 28px;
  cursor: default;
}

/** TITLE SCREEN STUFF **/

/** SCENE ONE TRAIN STUFF **/

#scene-one {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background_train_closed {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;
}

#kaphi_train_closed {
  position: absolute;
  top: 0;
  left: 40%;
  height: 80%;
  z-index: 5;
}

/** SCENE ONE TRAIN STUFF **/

/** SCENE TWO TRAIN STUFF **/

#scene-one2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background_train_open {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 6;
}

#kaphi_train_open {
  position: absolute;
  top: 0;
  left: 80%;
  height: 80%;
  z-index: 7;
}

#continue_two {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 8
}

/** SCENE TWO TRAIN STUFF **/