/* mobile-first design Pacific Rhododendron layout */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg);
    background-size: cover;
    background-position: center center;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 3.5em;
    width: calc(100vw - 2em);
}

#rhodieTitle h2 {
    position: absolute;
    bottom: 0;
    left: 3.5em;
    color: white;
    font-size: 1em;
    width: calc(100vw - 2em);
}

/* rest of mobile basline here */

@media screen and (orientation: landscape) {
    #rhodiePic {
        width: 50vw;
    }

    #rhodieTitle {
        width: 50 vw;
        left: 50vw;
        background-color: lightpink
    }

    #rhodieTitle h1 {
        width: 45vw;
    }
}

/* rest of desktop baseline here */