/* mobile-first design Pacific Rhododendron layout */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
}

#rhodiePic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific-Rhododendron 2 - Gary Monroe-1.jpeg")
}