* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.panel {
  position: relative;

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow: hidden;
}

.panel::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.45);

  z-index: 1;
}

.panel::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 120px;

    background: linear-gradient(transparent,
            rgba(0, 0, 0, 0.8));
}

.content {
    position: relative;
    color: white;
    max-width: 700px;
    padding: 20px;
    z-index: 2;
}

h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
}

/* Background Images */

.intro {
    background-image: url("train_station.jpg.jpg");
}

.station {
    background-image: url("rain_window.jpg.jpg");
}

.street {
    background-image: url("dog_sad.jpg.jpg");
}

.alley {
    background-image: url("rainy_night.jpg.jpg");
}

.sunrise {
    background-image: url("dog_ponder.jpg.jpg");
}