/* Mobile Layout */

h1{
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

h2{
    font-size: 2rem;
    font-style: italic;
    margin: auto;
    text-align: center;
}


/* Desktop Layout */