/* Mobile Layout */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* spacing between columns */
}

/* TEMPORARY SO U CAN SEE THE GRID */

.item {
  background: lightgray;
  border: 1px solid black;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
    font-style: italic;
}

body {
  text-align: center;
}

/* Desktop Layout */